@media (width >= 768px) {

  // Header
  .header {

    &__burger {
      display: none;
    }

    &__nav {
      position: unset;
      display: flex;
      justify-content: center;
      padding: 0;
      color: var(--text-color);
      background-color: transparent;

      &-menu {
        margin-left: auto;
      }
    }
  }

  // Navigation
  .nav {
    &__menu,
    &__contact {
      font-size: 1rem;
      font-weight: 400;
    }

    &__menu {
      display: flex;
      gap: 1rem;
    }

    &__link {
      border: none;
      margin: 0;
      padding: 0;

      &--active {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          width: 10px;
          height: 3px;
          border-radius: 5px;
          background-color: var(--text-color);
        }
      }
    }

    &__contact {
      margin-left: auto;
      background-color: var(--primary-color);
      color: var(--background-color);
      width: auto;
    }
  }

  // Footer
  .footer {
    font-size: 0.7rem;
  }

  // Pages
  .page {

  }

  // Home
  .home {

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }

  // About
  .about {
    grid-template-columns: 350px 1fr;
    gap: 4rem;
    grid-template-rows: auto;

    &__image {
      max-width: 316px;
    }

    &__list {
      max-height: 675px;
      padding-right: 0.5rem;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: var(--primary-color) transparent;
    }

    &__list-item {
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      gap: 1rem;
      text-align: left;
    }

    &__list-year {
      display: grid;
      justify-content: left;
      align-items: center;
      gap: 0;
      height: 100%;
      border-right: 0.5px solid var(--shadow-color);
      text-align: center;
    }

    &__list-year-dash {
      line-height: 1rem;
    }
  }
}
