@media (width >= 768px) {
  // Header
  .header {

    &__burger {
      display: none;
    }

    &__nav {
      position: unset;
      display: block;
      padding: 0;
      color: var(--text-color);
      background-color: transparent;
    }

    &__mobile {
      display: none;
    }

    &__desktop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 150px;
    }

    &__desktop-nav {
      display: block;

      .nav-link {
        margin: 1rem;
      }
    }
  }

  // Navigation
  .nav {

    &__desktop {
      display: inline-block;
    }

    &__menu,
    &__contact {
      font-size: 1rem;
      font-weight: 400;
    }

    &__menu {
      display: flex;
      gap: 2rem;
    }

    &__link {
      border: none;
      margin: 0;
      padding: 1.2rem 0;

      &--active {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 10px;
          height: 3px;
          border-radius: 5px;
          background-color: var(--accent-color);
        }
      }
    }

    &__contact {
      margin-left: 1rem;
      background-color: var(--primary-color);
      color: var(--background-color);
      width: auto;
    }
  }

  // Footer
  .footer {

    &__content {
      font-size: 0.75rem;
    }
  }

  // Home
  .home {

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }
  }

  // About
  .about {

    .page__content {
      grid-template-columns: 300px 1fr;
      gap: 4rem;
      grid-template-rows: auto;
    }

    &__image {
      max-width: 316px;
    }

    &__list {
      max-height: 700px;
      padding-right: 0.5rem;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: var(--primary-color) transparent;
      background:
        linear-gradient(var(--background-color) 30%, var(--background-color)) center top,
        linear-gradient(var(--background-color), var(--background-color) 70%) center bottom,
        radial-gradient(farthest-side at 50% 0, var(--border-color), var(--background-color-alpha)) center top,
        radial-gradient(farthest-side at 50% 100%,  var(--border-color), var(--background-color-alpha)) center bottom;
      background-repeat: no-repeat;
      background-size: 100% 40px, 100% 40px, 100% 16px, 100% 16px;
      background-attachment: local, local, scroll, scroll;
    }

    &__list-item {
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      gap: 1rem;
      text-align: left;
    }

    &__list-year {
      display: grid;
      justify-content: left;
      align-items: center;
      gap: 0;
      height: 100%;
      border-right: 0.5px solid var(--border-color);
      text-align: center;
    }

    &__list-year-dash {
      line-height: 1rem;
    }
  }

  // Work item
  .work-item {

    &__name {
      margin-top: 0;
    }

    &__assets {
      display: grid;
      grid-template-columns: 25% 1fr;

      & > * {
        padding-left: var(--padding);
        border-left: 0.5px solid var(--background-color-alpha);
        border-bottom: none;

        &:first-child {
          padding: 0;
          border: none;
        }
      }
    }
  }

  // Modal
  .modal {

    &__content {
      width: calc(100% - 4rem);
      padding: var(--padding);
    }
  }

  // Slideshow
  .slideshow {
    &__button {
      display: flex;
    }
  }
}
