@media (width >= 768px) {
  /*
   * Regions
   */

  // Header
  .header {
    &__burger {
      display: none;
    }

    &__nav {
      position: unset;
      display: block;
      padding: 0;
      color: var(--text-color);
      background-color: transparent;
    }

    &__mobile {
      display: none;
    }

    &__desktop {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 150px;
    }

    &__desktop-nav {
      display: block;

      .nav-link {
        margin: 1rem;
      }
    }
  }

  // Navigation
  .nav {
    &__desktop {
      display: inline-block;
    }

    &__menu,
    &__contact {
      font-size: 1rem;
      font-weight: 400;
    }

    &__menu {
      display: flex;
      gap: 2rem;
    }

    &__link {
      border: none;
      margin: 0;
      padding: 1.2rem 0;

      &--active {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 10px;
          height: 2px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          background-color: var(--accent-color);
        }
      }
    }

    &__contact {
      margin-left: 1rem;
    }
  }

  // Footer
  .footer {
    &__content {
      font-size: 0.75rem;
    }
  }

  /*
   * Pages
   */

  // Page
  .page {
  }

  // About
  .about {
    &__content {
      grid-template-columns: 300px 1fr;
      gap: 4rem;
    }

    &__image {
      max-width: 100%;
    }

    &__list {
      position: relative;
    }

    &__list-wrapper {
      position: absolute;
      inset: 0;
      padding-right: 1rem;
      overflow-y: scroll;
      overflow-x: clip;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: var(--primary-color) transparent;
    }

    &__list-item {
      display: grid;
      grid-template-columns: 60px 1fr;
      align-items: center;
      gap: 1rem;
      text-align: left;
    }

    &__list-year {
      display: grid;
      justify-content: left;
      gap: 0;
      height: 100%;
      border-right: 0.5px solid var(--border-color);
      text-align: center;
    }

    &__list-year-dash {
      line-height: 1rem;
    }
  }

  // Work
  .work {
    &__list-item {
      padding-inline: 0;

      &:first-child {
        padding-top: var(--padding);
      }
    }
  }

  // Work item
  .work-item {
    &__name {
      margin-top: 0;
    }

    &__assets {
      display: grid;
      grid-template-columns: 250px 1fr;

      & > * {
        padding-left: var(--padding);
        border-left: 0.5px solid var(--background-color-alpha);
        border-bottom: none;

        &:first-child {
          padding: 0;
          border: none;
          margin-right: var(--margin);
        }
      }
    }
  }

  // Slideshow
  .slideshow {
    max-width: 92%;
    margin-inline: auto;

    &__button {
      display: flex;
    }
  }
}
