body {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body:has(.modal),
body:has(.nav__mobile-backdrop) {
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sticky {
  position: sticky;
  top: 0.5rem;
}

.wrapper {
  max-width: var(--page-width);
  padding-inline: var(--padding);
  margin-inline: auto;
  box-sizing: content-box;
}

// Header
.header {
  z-index: 50;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--margin) 0;
    padding-inline: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    backdrop-filter: blur(4px);
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__desktop {
    display: none;
  }

  &__theme {
    line-height: 0;
    animation: fade-in 0.5s ease-in forwards;
    cursor: pointer;
  }

  &__burger {
    all: unset;
    display: grid;
    gap: 4px;
    height: 20px;
    width: 20px;

    & > * {
      background-color: var(--text-color);
      height: 2px;
      border-radius: 4px;
    }

    span:nth-child(2) {
      width: 60%;
    }
  }

  &__mobile-nav {
    display: none;
    position: fixed;
    top: calc(var(--header-height) + 0.5rem) ;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: var(--border-radius);

    &--is-open {
      display: block;
    }
  }
}

// Logo
.logo {
  width: 150px;
  height: 28px;
  margin: 1rem 0;

  &-a {
    fill: var(--logo-color);
  }

  &-b {
    fill: var(--accent-color)
  }
}

// Navigation
.nav {

  &__desktop {
    display: none;
  }

  &__mobile-backdrop {
    position: fixed;
    width: 100svh;
    height: 100svh;
    top: 0;
    left: 0;
    background-color: var(--background-color-alpha);
    z-index: 10;
  }

  &__menu,
  &__contact {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }

  &__link {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border: none;
      margin: 0;
    }

    a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
    }
  }

  &__contact {
    width: 100%;
    padding: 2px 1rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: calc(var(--border-radius) / 2);
  }
}

// Footer
.footer {
  padding-inline: var(--padding);

  &__content {
    margin-top: var(--margin);
    padding: 1rem var(--padding);
    height: var(--footer-height);
    border-top: 0.5px solid var(--border-color);
    font-size: .65rem;
    text-align: center;
  }
}

// Pages
.page {

  &__title {
    text-align: center;
    margin-bottom: var(--margin);
  }

  &__content {
    position: relative;
  }
}

// Home
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--home-height);
  text-align: center;

  h1 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

// About
.about {

  .page__content {
    display: grid;
    gap: var(--margin);
  }

  &__image {
    margin-top: var(--margin);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: inherit;
    object-fit: contain;
  }

  &__list-item {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-year {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
  }
}

// Work
.work {

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5px;
    background-color: var(--border-color);
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 300px;
    min-height: 300px;
    background-color: var(--background-color);
    cursor: pointer;
    padding: var(--padding);
  }

  &__image-logo {
    display: flex;
    margin: auto 0;
    max-height: 200px;
    max-width: 250px;
  }

  &__name {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;

    .icon {
      margin-left: 0.5rem;
      fill: var(--accent-color);
    }
  }
}

// Work item
.work-item {

  &__content {
    display: grid;
    gap: 1rem;

    & > * {
      margin-bottom: 0;
    }
  }

  &__name {
    text-align: center;
    margin-top: var(--margin);
  }

  &__assets {
    overflow-wrap: break-word;
    word-break: break-word;

    & > * {
      margin-top: 1rem;
    }

    & > *:not(:last-child) {
      margin-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 0.5px solid var(--background-color-alpha);
    }
  }

  &__resources {

    ul {
      list-style: disc;
      margin-left: 1rem;
    }
  }
}

// Modal
.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal {

  &__overlay {
    background-color: rgba(0,0,0, 0.5);
  }

  &__content {
    position: relative;
    padding: calc(var(--padding) / 2);
    margin-top: var(--margin);
    margin-inline: auto;
    width: calc(100% - 2rem);
    max-width: var(--page-width);
    max-height: calc(100svh - var(--margin) * 2);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--background-color);
    overflow-wrap: break-word;
    overflow-y: auto;
    z-index: 100;
  }

  &__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: right;
    cursor: pointer;
    fill: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 50%;
    line-height: 0;
    padding: 0.2rem;
  }
}

// Icons
.sprites {
  position: absolute;
  visibility: hidden;
}
