/*
 * Base Styles
 */

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

html,
body {
  overscroll-behavior: none;
}

body:has(.modal),
body:has(.nav__mobile-backdrop) {
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn {
  color: var(--primary-color);
  background-color: var(--background-color);
  border-radius: var(--border-radius-half);
  cursor: pointer;

  &:active:not(:disabled),
  &:focus-visible:not(:disabled) {
    transform: translateY(1px) scale(0.97);
    background-color: var(--background-color-200);
  }

  &--inverted {
    color: var(--primary-color);
    background-color: var(--background-color);

    &:active:not(:disabled),
    &:focus-visible:not(:disabled),
    &:disabled {
      background-color: var(--background-color-alpha);
    }
  }
}

.sticky {
  position: sticky;
  top: 0.5rem;
}

.wrapper {
  max-width: var(--page-width);
  padding-inline: 2rem;
  margin-inline: auto;
  box-sizing: content-box;
}

.text-center {
  text-align: center;
}

// Icons
.sprites {
  position: absolute;
  visibility: hidden;
}

/*
 * Regions
 */

// Header
.header {
  z-index: 50;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--margin) 0;
    padding-inline: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
  }

  &__mobile {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &__desktop {
    display: none;
  }

  &__theme {
    line-height: 0;
    animation: fade-in 0.5s ease-in forwards;
    cursor: pointer;

    .icon {
      fill: var(--primary-color);
    }
  }

  &__burger {
    all: unset;
    display: grid;
    gap: 4px;
    align-items: center;
    height: 20px;
    width: 20px;

    & > * {
      background-color: var(--text-color);
      height: 2px;
      border-radius: 4px;
      transform-origin: 0% 0px;
      opacity: 1;
      -webkit-transition: 0.3s cubic-bezier(0.35, 1.6, 0.65, 1);
      transition: 0.3s cubic-bezier(0.35, 1.6, 0.65, 1);

      &:nth-child(2) {
        width: 75%;
      }
    }

    &--is-open > * {
      &:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(0px, -2px);
        transform: rotate(45deg) translate(0px, -2px);
      }

      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        transform: rotate(-45deg) translate(0, 0);
      }

      &:nth-child(1),
      &:nth-child(3) {
        width: 125%;
      }
    }
  }

  &__mobile-nav {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: calc(var(--header-height) + 1rem);
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: var(--border-radius);
    transform: translateY(-100%);
    -webkit-transition:
      opacity 0.35s ease-in-out,
      visibility 0.35s ease-in-out,
      transform 0.35s ease-in-out;
    transition:
      opacity 0.35s ease-in-out,
      visibility 0.35s ease-in-out,
      transform 0.35s ease-in-out;

    &--is-open {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    [aria-label='Home'] {
      display: none;
    }
  }
}

// Logo
.logo {
  width: 150px;
  height: 28px;
  margin: 1rem 0;

  &-a {
    fill: var(--logo-color);
  }

  &-b {
    fill: var(--accent-color);
  }
}

// Navigation
.nav {
  &__desktop {
    display: none;
  }

  &__mobile-backdrop {
    position: fixed;
    width: 100svh;
    height: 100svh;
    top: 0;
    left: 0;
    background-color: hsla(from var(--background-color) h s l / 0.75);
    z-index: 10;
  }

  &__menu,
  &__contact {
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
  }

  &__link {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border: none;
      margin: 0;
    }

    a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
    }
  }

  &__contact {
    width: 100%;
    padding: 2px 1rem;
  }
}

// Footer
.footer {
  padding-inline: 1rem;

  &__content {
    margin-top: var(--margin);
    padding: 1rem var(--padding);
    height: var(--footer-height);
    border-top: 0.5px solid var(--border-color);
    font-size: 0.65rem;
    text-align: center;
  }
}

/*
 * Component
 */

// Modal
.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal {
  &__container {
    position: relative;
    padding-top: 3rem;
    margin-top: var(--margin);
    margin-inline: auto;
    width: calc(100% - 2rem);
    max-width: var(--page-width);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--background-color);
    z-index: 100;
  }

  &__content {
    max-height: calc(100svh - var(--margin) * 3);
    overflow-wrap: break-word;
    overflow-y: auto;
    padding: 0 2rem 2rem 2rem;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 30px;
    width: 30px;
    padding: 0.2rem;
    fill: var(--primary-color);
    background-color: var(--background-color);
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
  }

  &__close-icon {
    height: 100%;
    width: 100%;
  }

  // Modal animation
  &-enter-active,
  &-leave-active {
    transition: opacity 0.3s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}

// Slideshow
.slideshow {
  position: relative;
  max-width: 100%;

  &__image-container {
    position: relative;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--background-color-100);
    overflow: hidden;
  }

  &__images {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 200px;
    transition: transform 0.5s ease-in-out;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    flex-shrink: 0;
  }

  &__button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--background-color-alpha);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    svg {
      width: 1rem;
      height: 1rem;
      fill: var(--primary-color);
    }

    &:hover {
      background: var(--background-color);
      transform: translateY(-50%) scale(1.1);
    }

    &--prev {
      left: -24px;
    }

    &--next {
      right: -24px;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  &__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--background-color-200);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &--active {
      background: var(--accent-color);
    }

    &:hover {
      transform: scale(1.2);
    }

    &--active {
      transform: scale(1.2);
    }
  }
}

// Contact
.contact {
  display: flex;
  align-items: center;

  &__form {
    display: grid;
    gap: 1rem;
  }

  &__form-group {
    position: relative;
  }

  &__label {
    margin-right: 1rem;
  }

  &__input {
    border: 1px solid var(--background-color-alpha);
    border-radius: var(--border-radius-half);
    width: 100%;
    padding: 0.5rem;

    &::placeholder {
      opacity: 0.5;
    }

    &--error {
      border-color: var(--error);
    }
  }

  &__error-message {
    position: absolute;
    bottom: -1.1rem;
    left: 0;
    color: var(--error);
    font-size: 0.65rem;
  }

  &__submit {
    display: flex;
    align-items: center;
    margin-inline: auto;
    padding: 0.5rem var(--padding);
    margin-top: 0.5rem;

    &-icon {
      height: 1rem;
      width: 1rem;
      margin-left: 0.5rem;
      fill: var(--primary-color);
    }
  }

  &__response {
    text-align: center;
    margin-top: 1rem;
  }
}

#contact-message {
  field-sizing: content;
  min-height: 100px;
  resize: none;
  box-sizing: border-box;
}

/*
 * Pages
 */

// Page
.page {
  overflow-y: hidden;

  &__title {
    text-align: center;
    margin-bottom: var(--margin);
  }

  &__content {
    position: relative;
  }
}

// Home
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--home-height);
  text-align: center;

  h2 {
    font-size: 1.2rem;
  }

  p {
    fill: var(--text-color);
  }

  .icon,
  .git-link {
    vertical-align: middle;
  }

  &__git {
    opacity: 0;
    animation-delay: 1s;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }
}

// About
.about {
  .page__content {
    display: grid;
    gap: var(--margin);
  }

  &__image {
    display: block;
    margin-top: var(--margin);
    margin-inline: auto;
    height: auto;
    width: min(100%, 300px);
    border-radius: var(--border-radius);
    overflow: hidden;
    aspect-ratio: inherit;
    object-fit: contain;
  }

  &__list-item {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
    opacity: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-year {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
  }
}

// Work
.work {
  &__list {
    display: grid;
    gap: var(--margin);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    overflow: hidden;
  }

  &__list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 2rem 0;
    margin-right: calc(var(--margin) * -1);
    margin-bottom: calc(var(--margin) * -1);
    border-right: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
    min-height: 300px;
    cursor: pointer;
    opacity: 0;

    &:first-child {
      padding-top: 0;
    }
  }

  &__image-logo {
    display: flex;
    margin: auto 0;
    max-height: 200px;
    max-width: 250px;
  }

  &__name {
    font-size: 1rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;

    .icon {
      margin-left: 0.5rem;
      fill: var(--accent-color);
    }
  }
}

[data-theme='dark'] {
  .work__image-logo-img {
    filter: brightness(0) invert(1);
  }

  .work__image--grayscale {
    filter: grayscale(100%);
  }
}

// Work item
.work-item {
  &__content {
    display: grid;
    gap: 1rem;

    & > * {
      margin-bottom: 0;
    }
  }

  &__name {
    text-align: center;
  }

  &__assets {
    overflow-wrap: break-word;
    word-break: break-word;

    & > * {
      margin-top: 1rem;
    }

    & > *:not(:last-child) {
      margin-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 0.5px solid var(--background-color-alpha);
    }
  }

  &__resources {
    ul {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      list-style: none;
      margin: 0;
    }
  }

  &__resource {
    &-icon {
      font-size: 3rem;
      vertical-align: middle;
      line-height: 1;
    }
  }

  &__links {
    font-size: clamp(0.5rem, 3vw, 0.75rem);
  }
}

// 404
.not-found {
  height: var(--home-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
