body {
  background-color: var(--background-color);
}

a {
  cursor: pointer;
}

p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.sticky {
  position: sticky;
  top: .5rem;
}

// Header
.header {
  z-index: 50;
  padding-inline: var(--padding);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--page-width);
    margin: var(--margin) auto;
    padding: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--background-color-hsl);
    backdrop-filter: blur(4px);
  }

  &__logo {
    display: inherit;
    width: 150px;
    height: 28px;
  }

  .logo-a {
    fill: var(--logo-color);
  }

  .logo-b {
    fill: var(--accent-color);
  }

  &__burger {
    all: unset;
    display: grid;
    gap: 4px;
    height: 20px;
    width: 20px;

    & > * {
      background-color: var(--text-color);
      height: 2px;
      border-radius: 4px;
    }

    span:nth-child(2) {
      width: 60%;
    }
  }

  &__nav {
    display: none;
    position: fixed;
    top: calc(var(--header-height) + .5rem) ;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    border-radius: var(--border-radius);

    &--is-open {
      display: block;
    }
  }
}

// Navigation
.nav {
  &__menu,
  &__contact {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }

  &__link {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--shadow-color);

    &:last-child {
      border: none;
      margin: 0;
    }

    a {
      display: inline-block;
      width: 100%;
    }
  }

  &__contact {
    width: 100%;
    padding: 2px 1rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: calc(var(--border-radius) / 2);
  }
}

// Footer
.footer {
  position: relative;
  margin-top: var(--margin);
  margin-inline: var(--margin);
  padding: 25px var(--padding);
  max-width: var(--page-width);
  height: var(--footer-height);
  border-top: .5px solid var(--shadow-color);
  font-size: .5rem;
  text-align: center;
}

// Pages
.page {

  &__title {
    text-align: center;
    margin-bottom: var(--margin);
  }

  &__content {
    max-width: var(--page-width);
    margin-inline: auto;
    padding-inline: var(--padding);
    position: relative;
  }
}

// Home
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--home-height);
  text-align: center;

  h1 {
    font-size: 1.7rem;
    margin-bottom: .5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

// About
.about {
  display: grid;
  gap: var(--margin);

  &__image {
    margin-top: var(--margin);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: inherit;
    object-fit: contain;
  }

  &__list-item {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-year {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
  }
}

// Work
.work {

  &__list {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    position: relative;
  }

  &__list-item {
    text-align: center;
    color: var(--text-color);
    background-color: var(--shadow-color);
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  &__list-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2rem;
  }

  &__image-logo {
    display: flex;
    margin: auto 0;

    img {
      max-height: 100px;
    }
  }

  &__name {
    font-size: 1rem;
    margin-top: 1rem;
    a {
      text-decoration: none;
    }
  }
}

// Modal Component
.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal {

  &__overlay {
    background-color: rgba(0,0,0, 0.5);
  }

  &__content {
    position: relative;
    padding: var(--padding);
    margin-top: calc(var(--header-height) + (var(--margin) * 2));
    margin-inline: auto;
    width: calc(100% - 4rem);
    max-width: var(--page-width);
    max-height: calc(100svh - var(--header-height) - (var(--margin) * 2));
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--background-color);
    overflow-wrap: break-word;
    z-index: 100;
  }
}