body {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

strong {
  font-weight: 700;
}

small {
  font-size: 0.75rem;
}
