:root {
  --font-size: 18px;
  --margin: 2rem;
  --padding: 2rem;
  --gap: 2rem;
  --border: 0.5px solid var(--color-border);
  --border-radius: 1rem;
  --border-radius-half: calc(var(--border-radius) / 2);
  --page-width: 1200px;
  --header-height: 64px;
  --footer-height: 64px;
  --home-height: calc(
    100svh - var(--header-height) - var(--footer-height) - (var(--margin) * 3)
  );

  // Colors
  --black: hsl(0, 0%, 5%);
  --black-1: hsl(0, 0%, 15%);
  --black-2: hsl(0, 0%, 25%);
  --white: hsl(0, 0%, 100%);
  --white-1: hsl(0, 0%, 95%);
  --white-2: hsl(0, 0%, 75%);
  --blue-light: hsl(201, 48%, 68%);
  --blue-dark: hsl(213 53% 35%);
  --red-light: hsl(0, 80%, 45%);
  --red-dark: hsl(0, 80%, 55%);
}

// Dark theme
[data-theme='dark'] {
  --color-primary: var(--white);
  --color-primary-100: var(--white-1);
  --color-primary-200: var(--white-2);
  --color-accent: var(--white-2);
  --color-text: var(--white-1);
  --color-background: var(--black);
  --color-background-100: var(--black-1);
  --color-background-200: var(--black-2);
  --color-background-alpha: hsla(from var(--black) h s l / 0.25);
  --color-border: hsla(from var(--white-2) h s l / 0.25);
  --color-logo: var(--white-1);
  --color-error: var(--red-dark);
}

// Light theme
[data-theme='light'] {
  --color-primary: var(--black);
  --color-primary-100: var(--black-1);
  --color-primary-200: var(--black-2);
  --color-accent: var(--blue-dark);
  --color-text: var(--black-1);
  --color-background: var(--white);
  --color-background-100: var(--white-1);
  --color-background-200: var(--white-2);
  --color-background-alpha: hsla(from var(--white) h s l / 0.25);
  --color-border: hsla(from var(--black-2) h s l / 0.25);
  --color-logo: var(--black-1);
  --color-error: var(--red-light);
}
