---
import Background from '@/components/pages/home/Background.vue'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <Background client:load />
  <div class="page wrapper not-found">
    <h1 class="page__title">404</h1>
    <div class="page__content">
      <p class="text-center">Sorry, this page seems to be lost in space</p>
    </div>
  </div>
</Layout>
