---
import { getDataFeed } from '@/utils/api'

import AboutList from '@/components/pages/about/AboutList.vue'
import Layout from '@/layouts/Layout.astro'

const [settingsData] = await getDataFeed('settings')
const aboutData = await getDataFeed('about', 'yearFrom')
---

<Layout>
  <div class="page wrapper about">
    <h1 class="page__title">About Me</h1>
    <div class="page__content">
      <div class="about__content">
        <div set:html={settingsData?.about || ''} />
        <img
          class="about__image"
          src="/images/mike-tropea.jpg"
          alt="Mike Tropea"
          width="316"
          height="395"
        />
      </div>
      <AboutList data={aboutData || []} client:load />
    </div>
  </div>
</Layout>
