---
import { getDataFeed } from '@/utils/apiFeed'

import AboutContent from '@/components/pages/about/AboutContent.vue'
import AboutList from '@/components/pages/about/AboutList.vue'
import Layout from '@/layouts/Layout.astro'

const [settingsData] = await getDataFeed('settings')
const aboutData = await getDataFeed('about')
---

<Layout>
  <div class="page wrapper about">
    <h1 class="page__title">About Me</h1>
    <div class="page__content">
      <AboutContent data={settingsData?.about || ''} />
      <AboutList data={aboutData || []} client:load />
    </div>
  </div>
</Layout>
