---
import { getDataFeed } from '@/utils/api'

import AboutExperience from '@/components/pages/about/AboutExperience.vue'
import AboutList from '@/components/pages/about/AboutList.vue'
import Layout from '@/layouts/Layout.astro'
import PageWrapper from '@/components/pages/PageWrapper.astro'

const [settingsData] = await getDataFeed('settings')
const experienceData = await getDataFeed('experience', 'name')
const aboutData = await getDataFeed('about', 'yearFrom')
---

<Layout>
  <PageWrapper title="About Me" className="about">
    <div class="about__content">
      <div class="about__info">
        <div set:html={settingsData?.about || ''} />
        <img
          class="about__image"
          src="/images/mike-tropea.jpg"
          alt="Mike Tropea"
          width="316"
          height="395"
        />
      </div>
      <AboutList data={aboutData || []} client:load />
    </div>
    {experienceData.length > 0 && <AboutExperience data={experienceData} />}
  </PageWrapper>
</Layout>
