---
import { getDataFeed } from '@/utils/api'
import { splitText } from '@/utils/animation'

import Background from '@/components/pages/home/Background.vue'
import Icon from '@/components/Icon.vue'
import Layout from '@/layouts/Layout.astro'

const [settings] = await getDataFeed('settings')
const title = splitText(settings.title)
const subtitle = splitText(settings.subtitle, 0.5)
---

<Layout>
  <Background client:load />
  <div class="page wrapper home">
    <div class="page_content">
      <h1 set:html={title} />
      <h2 set:html={subtitle} />
      <p class="fade-in home__git">
        <Icon
          name="github"
          height={28}
          width={28}
          client:load
          alt="GitHub icon"
        />
        <a
          class="git-link"
          href="https://github.com/mikeizo"
          target="_blank"
          rel="nofollow"
        >
          <span>View my github profile</span>
        </a>
      </p>
    </div>
  </div>
</Layout>
