---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="page page__home home">
    <div class="page_content">
      <h1>Hi, I'm Mike Tropea</h1>
      <h2>Web Developer & Designer</h2>
    </div>
  </div>
</Layout>
