---
import Layout from '@/layouts/Layout.astro'
import WorkList from '@/components/work/WorkList.vue'

const env = import.meta.env
const assetsPath = env.PUBLIC_ASSETS_PATH
---

<Layout>
  <div class="page work">
    <div class="wrapper">
      <h1 class="page__title">Work</h1>
      <div class="page__content">
        <WorkList path={assetsPath} client:load />
      </div>
    </div>
  </div>
</Layout>
