---
import AdminLayout from '@/components/admin/AdminLayout.vue'

import '@/styles/admin.css'
import '@/styles/variables.scss'

const { isLogin = false } = Astro.props
const user = Astro.locals.user
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Admin</title>

    <script is:inline>
      const theme = localStorage.getItem('vueuse-color-scheme') || 'auto'
      if (
        theme === 'dark' ||
        (theme === 'auto' &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

      document.documentElement.setAttribute('data-theme', theme)
    </script>
  </head>
  <body>
    <div class="isolate">
      <AdminLayout client:load isLogin={isLogin} user={user}>
        <slot />
      </AdminLayout>
    </div>
  </body>
</html>
